{% load staticfiles %}

<!-- blockly stuff -->
<script src="{% static 'blockly/blockly_compressed.js' %}"></script>
<script src="{% static 'blockly/blocks_compressed.js' %}"></script>
<script src="{% static 'blockly/msg/js/en.js' %}"></script>
<xml id="toolbox" style="display: none">
  <block type="controls_if"></block>
  <block type="controls_repeat_ext"></block>
  <block type="logic_compare"></block>
  <block type="math_number"></block>
  <block type="math_arithmetic"></block>
  <block type="text"></block>
  <block type="text_print"></block>
</xml>
<!-- end blockly stuff -->

<p>Welcome, {{ p1 }} and {{ p2 }}!</p>

<div id="blocklyDiv" style="height:480px; width:600px;"></div>

<script>
  var workspace = Blockly.inject('blocklyDiv',
  {toolbox: document.getElementById('toolbox')});
</script>
