{% load staticfiles %}

<!--link rel="stylesheet" type="text/css" href="{% static 'okcoder/main.css' %}"-->

<!-- these need work but they're not causing the problem -->
<link rel="stylesheet" type="text/css" href="{% static 'blockly-games/appengine/common/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blockly-games/appengine/maze/style.css' %}">

<div id="header">
<!--p>Welcome, {{ ps.p1.name }} and {{ ps.p2.name }}!</p-->
<br>
</div><!-- header -->

<div id="content">
<div id="blocklyDiv" style="height:480px; width:600px;"></div>

<!-- blockly-games stuff -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'blockly-games/appengine/maze/uncompressed.js' %}"></script>
<!-- end blockly-games stuff -->

<br>
<!--a href="{% url 'okcoder:eval' ps %}" id="done">Complete!</a-->
</div><!-- content -->
